{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set footerContainer = LayoutContainer.show("Ceres::Footer") | trim %}

<div class="footer">
      <input type="text" name="nn_test" value="12345">
</div>

{{ dump() }}
